.S1 {
    grid-area: header;
    text-align: center;
}

.S2 {
    grid-area: menu;
    background-color: black;
    padding-top: 1vw;
    padding-left: 1vw;
}

.S3 {
    grid-area: main;
    text-align: center;
    padding: auto;
}

.S4 {
    grid-area: right;
}

.S5 {
    grid-area: footer;
    text-align: center ;
    color: black;
}


.grid-container {

    display: grid;
    grid-template-areas:
        'header header header header'
        'menu main main right'
        'footer  footer footer footer';
    background-image: linear-gradient(rgba(44, 70, 163, 0.467), rgb(0, 0, 0));
    padding: 10px;
    color: blanchedalmond;
    border: 0px;

}

button:hover {
    background-color: blue;
    color: blanchedalmond;
}

a {
    color: inherit;
    text-decoration: none;
}

 a:visited {
    color: lightslategray;
    text-decoration: wavy;
}

/* This part of the code is to keep my header size fixed and determined by the screen size, or viewport*/
h1 {
    font-size: 4vw;
    text-shadow: 1px 1px 5px;
}

/* This part of the code is to keep my header size fixed and determined by the screen size, or viewport*/
h2,
h3 {
    font-size: 2vw;
    text-shadow: 1px 1px 5px;
}

p {
    font-size: 1vw;
    color: blanchedalmond;
    padding: 10px;
}

.noticeR {
    position: fixed;
    top: 0;
    right: 0;
    background-color: darkgreen;
    height: auto;
    border: 0.5vw solid rgba(0, 0, 0, 1);
    font-size: 1vw;
    text-align: center;
}

.noticeL {
    position: fixed;
    top: 10vw;
    left: 0;
    background-color: rgb(0, 255, 0);
    height: auto;
    border: 4px solid rgba(0, 0, 0, 1);
    padding: 5px;


    p {
        color: black;
    }

}